$ff-base: 'Montserrat', sans-serif;
$fw-regular: 400;
$fw-bold: 700;
$fs-base: 14px;
$fs-header: 22px;
$color-text: #595959;
$color-primary: #0056B8;
$color-secondary: #F6A067;
$color-white: #FFFFFF;
$color-cross-1: #3FB3EE;
$color-cross-2: #FAB283;
$color-cross-3: #79CC96;
$padding-XS: 8px;
$padding-S: 16px;
$padding-M: 20px;
$padding-L: 32px;
$padding-XL: 40px;
$padding-XXL: 50px;

html,
body {
    margin: 0;
    padding: 0;
}

#es-rc #es-rc-content {
    font-family: $ff-base;
    font-size: $fs-base;
    font-weight: $fw-regular;
    line-height: 1.4;
    max-width: 990px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    color: $color-text;
    background: $color-white;

    ::selection {
        background-color: $color-cross-2;
        color: $color-white;
    }

    * {
        box-sizing: border-box;
    }

    p {
        margin: 0;
    }

    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .es-header {
        font-size: $fs-header;
        font-weight: $fw-regular;
    }

    .es-header--bold {
        font-size: $fs-header;
        font-weight: $fw-bold;
    }

    .es-kv {
        &__left {
            text-align: center;
            margin-block: 2em;
        }

        &__right img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        &__logo {
            padding: $padding-S;
            max-width: 150px;
            margin: auto;
        }

        &__title {
            background-color: $color-secondary;
            color: $color-white;
            padding: $padding-S;
        }

        &__text {
            padding: $padding-L $padding-S;
        }

        &__info {
            margin: $padding-S auto;
            background-color: $color-primary;
            color: $color-white;
            text-align: center;
            padding: 1em 3em;
            border-radius: 12px 0;
            font-weight: $fw-bold;
            max-width: max-content;
            transition: all 200ms ease-in-out;
        }

        &__info:hover {
            scale: 1.1;
        }

        &__packshot {
            padding: $padding-L $padding-S;
            max-width: 80%;
            margin: auto;
        }
    }

    .es-features {
        position: relative;
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $padding-L;
        overflow: hidden;

        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 200%;
        }

        &__bg img {
            object-fit: cover;
            object-position: left;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: $padding-XS;
            padding: $padding-XL $padding-S;
            width: 80%;
        }

        &__single {
            display: flex;
            align-items: center;
            gap: $padding-S;
            transition: all 200ms ease-in-out;
        }

        &__single:hover {
            margin-left: -$padding-XS;
        }

        &__icon {
            max-width: 50px;
        }

        &__text {
            width: 100%;
        }

        &__reference {
            font-size: 0.8em;
            padding-bottom: $padding-L;
        }
    }

    .es-formula {
        padding-block: $padding-XL;

        .es-header {
            text-align: center;
            padding: $padding-XL $padding-M;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            padding: $padding-S;
            gap: $padding-S;
        }

        &__single {
            display: flex;
            flex-direction: column;
            gap: $padding-S;
        }

        &__bg {
            background-color: $color-secondary;
            width: 85%;
            max-width: 300px;
            text-align: center;
            margin: auto;
            color: $color-white;
            text-transform: uppercase;
            font-size: $fs-header;
            padding-block: calc($padding-XS/2);
        }

        &__text {
            text-align: center;
        }

        &__plus {
            color: $color-secondary;
            font-size: calc(2*$fs-header);
            font-weight: $fw-bold;
            text-align: center;
        }

        &__bubbles {
            display: none;
        }
    }

    .es-ekspert {

        &__left img {
            object-fit: cover;
            width: 100%;
        }

        &__title {
            text-align: center;
            padding-block: $padding-XL;
        }

        &__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: $padding-L;
            padding: $padding-S;
            max-width: 444px;
            margin: auto;
        }

        &__single {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $padding-S;
            text-align: center;
            padding: $padding-M;
            border-radius: $padding-M;
            transition: all 200ms ease-in-out;
        }

        &__single:hover {
            box-shadow: 1px 1px 15px 3px rgba(0, 0, 1, 0.1);
        }

        &__icon {
            background-color: $color-primary;
            padding: $padding-XS;
            border-radius: $padding-XS;
            width: 80px;
            height: 80px;
            display: grid;
            place-items: center;
        }
    }

    .es-routine {
        &__left {
            display: flex;
            flex-direction: column;
            padding: $padding-XL $padding-L;
            gap: $padding-M;
        }

        &__odkryj {
            background-color: $color-primary;
            color: $color-white;
            font-size: $fs-header;
            text-align: center;
            padding: $padding-XS $padding-L;
            font-weight: $fw-bold;
            border-radius: 0 $padding-XS;
            width: max-content;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: $padding-S;
            padding: $padding-L $padding-S;
            background-color: #e4e9eb;
        }

        &__single {
            display: flex;
            flex-direction: column;
            gap: $padding-XS;
            align-items: center;
        }

        &__name {
            background-color: $color-secondary;
            color: $color-white;
            padding: $padding-XS $padding-M;
            font-weight: $fw-bold;
            text-align: center;
            border-radius: 0 $padding-XS;
            width: max-content;
        }

        &__desc {
            text-align: center;
        }
    }

    .es-bubbles-3 {
        max-width: 500px;
        margin: auto;
    }


    .es-cross {

        &__title {
            text-align: center;
            padding: $padding-L;
        }

        &__bg {
            width: 200%;
        }

        &__bg img {
            margin-left: -25%;
        }

        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: $padding-M;
            padding: $padding-M $padding-L;
            justify-content: center;
        }

        &__single {
            color: $color-white;
            padding: $padding-XS $padding-L;
            border-radius: 0px $padding-XS;
            text-align: center;
            display: grid;
            place-items: center;
        }

        &__single:nth-child(1) {
            background-color: $color-cross-1;
        }

        &__single:nth-child(2) {
            background-color: $color-cross-2;
        }

        &__single:nth-child(3) {
            background-color: $color-cross-3;
        }
    }

    @media (min-width: 576px) and (max-width: 719px) {
        .es-kv__packshot {
            display: none;
        }
    }

    @media (min-width: 576px) {
        .es-features {
            aspect-ratio: 1300 / 530;
            height: unset;
            align-items: flex-start;
            gap: unset;
        }

        .es-features__bg {
            width: 100%;
        }

        .es-features__wrapper {
            padding: $padding-L;
        }

        .es-features__reference {
            padding-left: 70px;
        }

        .es-routine__wrapper {
            flex-direction: row;
        }
    }

    @media (min-width: 720px) {
        .es-kv {
            display: flex;
            position: relative;
        }

        .es-kv__left,
        .es-kv__right {
            width: 50%;
        }

        .es-kv__packshot {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 18%;
            max-width: 170px;
        }

        .es-kv__left {
            text-align: left;
        }

        .es-kv__right img {
            height: 100%;
            object-position: right;
        }

        .es-kv__logo {
            margin: $padding-XL $padding-L;
            padding: unset;
            max-width: 120px;
        }

        .es-kv__title {
            padding: $padding-S $padding-L;
        }

        .es-kv__text {
            padding: $padding-L;
            max-width: 360px;
        }

        .es-kv__info {
            padding: 1em;
            margin-inline: $padding-L;
        }

        .es-features__text {
            font-size: $fs-header;
        }

        .es-formula {
            position: relative;
            z-index: 0;
        }

        .es-formula__bubbles {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }

        .es-formula__wrapper {
            flex-direction: row;
        }

        .es-formula__single {
            flex-basis: 50%;
            display: grid;
            align-content: flex-start;
        }

        .es-ekspert {
            display: flex;
        }

        .es-ekspert__left,
        .es-ekspert__right {
            width: 50%;
        }

        .es-ekspert__left img {
            height: 100%;
            position: right;
        }

        .es-bubbles-2 {
            width: 65%;
            max-width: 540px;
            margin: auto;
            margin-top: -75px;
        }

        .es-routine {
            position: relative;
            z-index: 0;
            aspect-ratio: 1300 / 665;
            display: flex;
            background-color: #e7e7ef;
        }

        .es-routine__bg {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }

        .es-routine__left {
            justify-content: flex-start;
            width: 45%;
            gap: $padding-L;
        }

        .es-routine__wrapper {
            align-items: flex-end;
            width: 55%;
            background-color: transparent;
        }

        .es-routine__single {
            width: 33%;
            display: grid;
            grid-template-rows: 50px 50px;
            align-items: start;
        }

        .es-routine__name {
            font-size: 14px;
            padding: 6px 12px;
            width: unset;
        }

        .es-routine__desc {
            font-size: 12px;
        }

        .es-bubbles-3 {
            display: none;
        }

        .es-cross__wrapper--top {
            position: relative;
        }

        .es-cross__bg {
            width: 100%;
        }

        .es-cross__bg img {
            margin-left: unset;
        }

        .es-cross__title {
            position: absolute;
            max-width: 250px;
            text-align: left;
            top: 15%;
        }

        .es-cross__single {
            max-width: 30%;
        }
    }

    @media (min-width: 768px) {

        .es-bubbles {
            margin-top: -84px;
        }

        .es-routine {
            aspect-ratio: 1300 / 665;
        }

        .es-routine__left {
            justify-content: center;
        }
    }

    @media (min-width: 992px) {
        .es-bubbles {
            margin-top: -110px;
        }

        .es-routine {
            aspect-ratio: 1300 / 550;
        }

        .es-routine__left {
            padding-left: $padding-XXL;
        }

        .es-routine__single {
            grid-template-rows: 32px 37px;
        }
    }
}